# notebooks
*.ipynb
.ipynb_checkpoints/
notebooks/

# html
*.html

# python
__pycache__/
*.pyc

# macOS
.DS_Store

# ml / geodata
*.tif
*.las
*.geojson
*.npy
*.pth
*.zip
*.json
*.rar

# logs
logs.txt
