# data and models
data/
checkpoints/
*.pt
*.pth
*.ckpt
*.rar
*.zip

# notebooks/cache
.ipynb_checkpoints/
__pycache__/
*.pyc

# system
.DS_Store

# reports generated locally
reports/*.csv
reports/*.png
*.rar
data/
